#projects-content {
  float: left;
  margin: 20px;
  height: 100%;
  font-family: "Open sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;

}

#projects-list-bar {
  float: left;
  display: inline-block;
  width: 400px;
  height: 100%;
  background-color: white;
}

#projects-status-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: rgba(26, 177, 136, 1);
}

#projects-status-list ul li {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  color: white;
  cursor: pointer;
  transition: 1s;

}

#projects-status-list ul li :hover {
  background-color: #f5f8fc;
  color: #6b99c7;
}

#create-project-menu {
  padding: 10px;
  margin: 0 0;
  cursor: pointer;
}

#create-project-menu #plus-part {
  display: inline-block;
  color: #6b99c7;
  font-size: 25px;
  font-weight: bold;
}

#create-project-menu #create-part {
  display: inline-block;
  color: #6b99c7;
  font-size: 15px;
}

#create-project-menu div:hover {
  background-color: #f5f8fc;
}

#create-project-menu input {
  padding: 5px 10px;
  height: 12px;
  width: 250px;
  font-size: 18px;
}

#create-project-menu button:hover {
  background-color: rgba(26, 177, 136, 1);
  color: white;
}

#project-list ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
}

#project-list #project-section {
  padding: 10px 0 10px 40px;
  border-top: 1px solid #eaebec;
  color: #515151;
  font-weight: 400;
  cursor: pointer;
}

#project-list #project-section span:hover {
  background-color: aliceblue;
}

#project-list #task-list ul {
  border-top: 1px solid #eaebec;
}

#project-list #task-list li {
  padding: 5px 0 5px 30px;
  font-size: 15px;
  color: #515151;
  font-weight: 300;
}

#project-list #task-list li:hover {
  background-color: aliceblue;
}

#project-task-management {
  display: inline-block;
  float: left;
}


