<div id="projects-content">

  <div id="projects-list-bar">

    <div id="projects-menu">
      <div id="projects-status-list">
        <ul>
          <li>Активные</li>
          <li>Законченные</li>
          <li>Поиск проектов</li>
        </ul>
      </div>


      <div id="create-project-menu">
        <div *ngIf="!openCreateProject" (click)="openCreateProjectSwitch()">
          <span id="plus-part">+</span>
          <span id="create-part">Создать проект</span>
        </div>
        <form [ngFormModel]="createProjectForm"
              (ngSubmit)="createProject(createProjectForm.value.projectName)"
              *ngIf="openCreateProject">
          <input [ngFormControl]="createProjectForm.controls['projectName']"
                 placeholder="Введите название проекта">

          <button [disabled]="!createProjectForm.valid"
                  type="submit"
                  md-raised-button
                  class="md-raised md-primary">
            Создать
          </button>
        </form>
      </div>

    </div>

    <div id="project-list">
      <ul>
        <li *ngIf="projectList.length==0">
          <span>У вас нет ни одного проекта</span>
        </li>
        <li *ngFor="let project of projectList"
            id="project-section">
          <span (click)="projectOpenCloseSwitch(project)">
            {{project.name}}
          </span>

          <div id="task-list"
               *ngIf="targetProject.name==project.name &&
             targetTask!=undefined">
            <ul>
              <li *ngIf="project.taskList.length == 0">
                В проекте отсутствуют задачи
              </li>
              <li *ngFor="let task of project.taskList"
                  (click)="switchToTaskBar(task)"
                  id="task-section">
              <span>
                {{task.name}}
              </span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>


  </div>

  <div id="project-task-management">
    <project-management *ngIf="openProjectBar"
                        [project]="targetProject"
                        (taskSelected)="switchToTaskBar($event.task)">

    </project-management>

    <task-management *ngIf="openTaskBar"
                     [task]="targetTask">

    </task-management>
  </div>


</div>
